ooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}



/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

* {
  box-sizing: border-box;
}

header img {
  width: 200px;
  height: 50px;
}

#header {
  z-index: 1000;
  min-height: 0px;
  background: #000000;
  border-bottom: 1px solid #d8d8d8;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 3px #ccc;
}

#column-left {
  width: 235px;
  height: 100%;
  overflow: auto;
  background-color: #242d37;
  position: absolute;
  top: 0px;
  padding-top: 80px;
  z-index: 10;
  display: block;
}

#column-left+#content,
#column-left+#content+#footer {
  left: 0px;
  margin-left: 235px;
}

#menu {
  padding: 0px;
}

#menu li a {
  font-size: 14px;
  color: #b3cbdd;
  border-bottom: 0px solid #585858;
}

#menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  border-bottom: 1px solid #2b3642;
  min-height: 50px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

#menu li:hover {
  background: #444;
}

#column-left+#content+#footer {
  left: 0px;
  margin-left: 235px;
}

#footer {
  height: 100px;
  text-align: center;
}

#content {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 20px;
}



#column-left+#content {
  left: 0px;
  margin-left: 235px;
}

.user-info .image img {
  width: 200px;
  height: 200px;
}

.user-info .image {
  text-align: center;
}

.user-info .control-label {
  font-size: 18px;
  font-weight: bold;
}

.user-info input[type=text] {
  width: 100%;
}

.user-info select {
  text-align-last: center;
}

.user-info .form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-info .avatar-update {
  margin-top: 20px;
}

.avatar-update #avatar {
  display: none;
}

.avatar-update #file {
  display: none;
}

.user-info .info {
  width: 80%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

input.hidden {
  display: none;
}

.page-header {
  vertical-align: middle;
  margin: 20px 0 15px 0;
  padding: 0;
  border-bottom: 1px solid #e9e9e9;
}

.page-header h2 {
  color: #0d0d0d;
  font-size: 25px;
  margin: 4px 8px 35px 8px;
}

.page-header .pull-right {
  float: right;
}

#container {
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.lecturer-add .info {
  margin-left: auto;
  margin-right: auto;
}

.search .col-sm-8 {
  padding-right: 0px !important;
}

.search .col-sm-4 {
  padding-left: 0px !important;
}

#header {
  height: 66px !important
}

#header .dropdown:hover .dropdown-content {
  display: block;
}




#header .menu-item {
  height: 66px;
  float: left;
  flex: 0 0 auto;
  line-height: 60px;
  width: 16.6666666667%;
}

#header .menu-item a {
  color: #ffffff;
  text-decoration: none;
}

#header .dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  background: #000000;
}

#header .dropdown {
  position: relative;
  display: inline-block;
}

#header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

a {
  text-decoration: none;
}

.tesst {
  display: none;
}

#header .featured a {
  color: white;
}

#header .featured a:hover {
  color: #ffc107;
}

#header .featured a:hover {
  color: #ffc107;
}

#header .featured a i {
  margin-right: 5px;
}

#header .search .form-inline {
  margin-left: -100px;
}

.container-wrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse-right {
  margin-left: 750px;
}

.login-button button {
  width: 30%;
}

.login-button {
  margin-bottom: 20px;
}

#form-login .form-group label {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 450;
}

#form-login .form-group {
  margin-top: 15px;
}

.lead.mt-4 {
  margin-top: 0px !important;
}

.btn-outline-warning.my-2 {
  color: #ffffff;
}

.btn-outline-warning.my-2:hover {
  color: #000000;
}

@media (min-width: 992px) {
  .dropdown-menu .dropdown-toggle:after {
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  }

  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .dropdown-menu li {
    position: relative;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu>li:hover {
    background-color: #f1f1f1
  }

  .dropdown-menu>li:hover>.submenu {
    display: block;
  }


}

.menu a.nav-link {
  color: #fff;
  font-size: 18px;
}

.menu a.dropdown-item {
  float: left;
}

.menu a i {
  float: right;
  margin-top: 4px;
}

.featured a.dropdown-item {
  color: #000 !important;

}

.featured .dropdown-menu a {
  color: #000 !important;
}

.featured .dropdown-menu li {
  padding: 8px;
}

.featured .dropdown-menu {
  margin-left: 12px;
  margin-top: 12px;
}

.featured .logout {
  padding: 6px;
}

#header.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}


.footer-container {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 12px;
  text-align: center;
}