<nav id="column-left">
    <ul id="menu">
        <%if (user.roll) { %>
        <li>
            <a href="/admin/account/edit">Thông tin tài khoản</a>
        </li>
        <li>
            <a href="/admin/course/coursesList">Danh sách khóa học</a>
        </li>
        <li>
            <a href="/admin/student/studentsList">Danh sách học viên</a>
        </li>
        <li>
            <a href="/admin/lecturer/lecturersList">Danh sách giảng viên</a>
        </li>
        <li>
            <a href="/admin/course/categoryList">Danh sách Category</a>
        </li>
        <%  }else{ %>
            <li>
                <a href="/admin/account/edit">Thông tin tài khoản</a>
            </li>
            <li>
                <a href="/admin/course/coursesList">Danh sách khóa học</a>
            </li>
        <%  } %>
    </ul>
</nav>