<nav id="column-left">
    <ul id="menu">
        <li>
            <a href="/admin/account/edit">Thông tin tài khoản</a>
        </li>
        <li>
            <a href="/admin/course/coursesList">Danh sách khóa học</a>
        </li>
        <li>
            <a href="">Danh sách học viên</a>
        </li>
        <li>
            <a href="/admin/lecturer/lecturersList">Danh sách giảng viên</a>
        </li>
    </ul>
</nav>