<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <div class="wrapper fadeInDown" id="loginForm">
        <div id="formContent">
          <!-- Tabs Titles -->
              
          <h2 class="active"> Log in   </h2>
      
          <!-- Login Form -->
          <form action="" method="post">
            <input type="text" id="email" class="fadeIn second" name="email" placeholder="login" value="<%= data.email%>">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" value="<%= data.password%>">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Passowrd -->
      
        </div>
    </div>
</body>
</html>

