<div class="jumbotron">
    <%- include('../partials/toolbar', {isAuthenticated: isAuthenticated});  %> 
</div>
<div>
    <h2>Các khóa học nổi Yêu Thích</h2>
    <% for( let i = 0; i < courses.length; i++ ) { %>
    <%- include('../partials/card-course', {course: courses[i]}) %> 
    <% } %>
</div>