<div>
    <h1>HOME PAGE chưa đăng nhập</h1>
</div>
<div>
    <a href="/users/register"><button type="button" class="btn btn-light">ĐĂNG KÝ</button>
</div>
<div>
    <a href="/users/login"><button type="button" class="btn btn-danger">ĐĂNG NHẬP</button></a>
</div>
<div>
    <a href="/users/auth/facebook"><button type="button" class="btn btn-info">FACEBOOK LOGIN</button></a>
</div>