<div>
    <h1>HOME PAGE đã đăng nhập</h1>
</div>
<div>
    <a href="/users/account"><button type="button" class="btn btn-info">TÀI KHOẢN</button>
</div>
<div>
    <a href="/users/logout"><button type="button" class="btn btn-secondary">ĐĂNG XUẤT</button></a>
</div>