</head>
<header id="header" class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="col-sm-2">
      <div id="header-logo" class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/public/logo.png" alt="Managment" title="Managment" />
        </a>
      </div>
    </div>
    <div class="col-sm-2 menu">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Category
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="/courses/Marketing">
              Marketing <i class="fas fa-chevron-right"></i></a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/Marketing/Digital Marketing">Digital Marketing</a></li>
            </ul>
          </li>
          <li>
            <a class="dropdown-item" href="/courses/Music">
              Music <i class="fas fa-chevron-right"></i></a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/Music/Music Instruments">Music Instruments</a></li>
            </ul>
          </li>
          <li>
            <a class="dropdown-item" href="/courses/Design">
              Design <i class="fas fa-chevron-right"></i></a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/Design/Web Design">Web Design</a></li>
              <li><a class="dropdown-item" href="/courses/Design/Game Design">Game Design</a></li>
              <li><a class="dropdown-item" href="/courses/Design/Design Tools">Design Tools</a></li>
            </ul>
          </li>
          <li>
            <a class="dropdown-item" href="/courses/Business">Business <i class="fas fa-chevron-right"></i></a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/Business/Communications">Communications</a></li>
              <li><a class="dropdown-item" href="/courses/Business/Management">Management</a></li>
              <li><a class="dropdown-item" href="/courses/Business/Sales">Sales</a></li>
            </ul>
          </li>
          <li>
            <a class="dropdown-item" href="/courses/Development">
              Development <i class="fas fa-chevron-right"></i></a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/Development/Game Development">Game Development</a></li>
              <li><a class="dropdown-item" href="/courses/Development/Mobile Development">Mobile Development</a></li>
              <li><a class="dropdown-item" href="/courses/Development/Programming Languages">Programing Languages </a></li>
              <li><a class="dropdown-item" href="/courses/Development/Data Science">Data Science</a></li>
              <li><a class="dropdown-item" href="/courses/Development/Web Development">Web Development</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-5 search">
      <form id="searchForm" action="/courses/search" class="form-inline" method="GET">
        <div class="row">
          <div class="col-sm-8">
            <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
              name="queryString" />
          </div>
          <div class="col-sm-4">
            <button id="searchButton" class="btn btn-outline-warning my-2 my-sm-0" type="button">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3 featured">
      <div class="row">
        <% if (!isAuthenticated) { %>
        <div class="col-sm-4">
          <a href="/users/login"> <i class="fas fa-sign-in-alt"></i>Login </a>
        </div>
        <div class="col-sm-4">
          <a href="/users/register">
            <i class="fas fa-user-plus"></i>Register
          </a>
        </div>
        <% }else{ %>
        <div class="col-sm-6 text-right">
          <div class="nav-item dropdown">
            <a href="/users/account" data-toggle="dropdown" class="nav-link dropdown-toggle">
              <i class="fas fa-user-circle"></i> <%= user.name %> 
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/users/account">
                  <i class="fas fa-folder-open"></i> Account
                </a>
              </li>
              <li>
                <a href="/my-courses">
                  <i class="fas fa-folder-open"></i> My Courses
                </a>
              </li>
              <li>
                <a href="/my-wish-list">
                  <i class="fa fa-heart" aria-hidden="true"></i> Wish list
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 logout text-right">
          <a href="/users/logout">
            <i class="fas fa-sign-out-alt"></i>Logout
          </a>
        </div>

        <% } %>
      </div>
    </div>
  </div>
</header>
<script>
  //  Bấm vào bút search
  $("#searchButton").on("click", () => {
    const val = $("#searchInput").val();
    console.log(val);
    if (val != "") {
      $("#searchForm").submit();
    } else {
      window.location.replace("/");
    }
  });
</script>
<script>
  // Mở đóng menu Category
  $(document).ready(function () {
    $(document).on('click', '.dropdown-menu', function (e) {
      e.stopPropagation();
    });

    // make it as accordion for smaller screens
    if ($(window).width() < 992) {
      $('.dropdown-menu a').click(function (e) {
        e.preventDefault();
        if ($(this).next('.submenu').length) {
          $(this).next('.submenu').toggle();
        }
        $('.dropdown').on('hide.bs.dropdown', function () {
          $(this).find('.submenu').hide();
        })
      });
    }

  });
</script>
<script>
  //Bắt sự kiện kéo màn hình
  $(window).bind('scroll', function () {
    if ($(window).scrollTop() > 100) {
      $('#header').addClass('fixed');
    } else {
      $('#header').removeClass('fixed');
    }
  });
</script>