<div style="display: inline-block;">
    <a href="/users/account"><button type="button" class="btn btn-info">TÀI KHOẢN</button></a>
    <a href="/users/logout"><button type="button" class="btn btn-secondary">ĐĂNG XUẤT</button></a>
    <a href="/users/my-wish-list"></a>
</div>