@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */
html, body { height: 100%!important; }

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#loginForm input[type=text],input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#loginForm input[type=text],input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}

header img{
  width: 200px;
  height: 50px;
}
#header{
  z-index: 1000;
  min-height: 0px;
  background: #FFFFFF;
  border-bottom: 1px solid #d8d8d8;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 3px #ccc;
}
#column-left {
  width: 235px;
  height: 100%;
  overflow: auto;
  background-color: #242d37;
  position: absolute;
  top: 0px;
  padding-top: 80px;
  z-index: 10;
  display: block;
}

#column-left + #content, #column-left + #content + #footer {
  left: 0px;
  margin-left: 235px;
}
#menu {
 padding :0px;
}

#menu  li  a {
  font-size: 14px;
  color: #b3cbdd;
  border-bottom: 0px solid #585858;
}
 #menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  border-bottom: 1px solid #2b3642;
  min-height: 50px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

#menu li:hover{
  background: #444;
}

#column-left + #content + #footer {
  left: 0px;
  margin-left: 235px;
}

#footer{
  height: 100px;
  text-align: center;
}
#content {
  padding-top: 20px;
  padding-bottom: 40px;
}



#column-left + #content{
  left: 0px;
  margin-left: 235px;
}
.user-info .image img{
  width: 200px;
  height: 200px;
}
.user-info .image {
  text-align: center;
}
.user-info .control-label{
  font-size: 18px;
  font-weight: bold;
}

.user-info input[type=text] {
  width: 100%;
}

.user-info select {
  text-align-last: center ;
}

.user-info .form-group{
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-info .avatar-update{
  margin-top:  20px;
}
.avatar-update #avatar{
  display: none;
}
.avatar-update #file{
  display: none;
}
.user-info .info{
  width: 80%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.hidden{
  display: none;
}

input.hidden{
  display: none;
}

.page-header {
  vertical-align: middle;
  margin: 20px 0 15px 0;
  padding: 0;
  border-bottom: 1px solid #e9e9e9;
}

.page-header h2{
  color: #0d0d0d;
  font-size: 25px;
  margin: 4px 8px 35px 8px;
}

.page-header .pull-right{
  float: right;
}
#container{
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.lecturer-add .info{
  margin-left: auto;
    margin-right: auto;
}

.course-info .image img {
  margin-bottom: 10px;
  padding:15px;
  border: 1px dashed #242d37;
  width: 200px;
  height: 200px;
}


.upload_video .form-group{
  border:0px;
}
.course-info .tab-pane{
  margin-left: 0px;
}

.course-info .form-group{
  display: flex;
}

.course-info .course-detail select{
  height: 35px!important;
}
.course-info .tab-content{
  margin-top:20px;
}

.upload_video .video video{
  height: 200px;
  width: 400px;
  margin: 10px auto;
}

table#videos thead td {
    color: #000;
    font-size: 22px;
    font-weight: 700;
}

table#videos tbody td {
  vertical-align: middle;
  font-size: 22px;
  font-weight: 700;
}


.panel-default {
  border: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
}

.panel {
  border-radius: 0px;
}

.panel {
  margin-bottom: 18px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
  padding: 12px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  color: #4c4d5a;
  border-color: #dcdcdc;
  background: #f6f6f6;
  text-shadow: 0 -1px 0 rgba(50,50,50,0);
}

.panel-heading h3 {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}
.panel-body{ 
  padding-top:30px;
}

.form-group{
  border-top: 1px solid #ededed;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.course-detail .form-group:first-child{
  border-top: 0px;
  
}

.form-group  .control-label{
   font-weight: bold;
    text-align: right;
    margin-bottom: 0;
    padding-top: 9px;


}

.viewCourse a{
  color: #fff;
}

.hidden{
  display: none!important;
}

.choose_video{
  margin-right:10px;
}

.level-2-category{
  padding-left: 20px!important;
}

.filter{
  margin-bottom: 10px;
  border: 1px dashed #030303;
  margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.filter .form-group{
  border:0px!important;
}

.text-left-filter{
  padding-right:10px;
  float:left!important;
  font-size: 18px;
  font-weight: 700;
}

.text-left-filter.title{
  font-size: 20px;
  text-decoration-line:underline;
  margin-bottom: 20px;
}

.button-filter{
  width: 20px;;
}

.button-filter button{
  padding: 7px 20px;
}