<style>
    .container-wrap {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 48px;
    }
  
    .navbar-collapse {
      flex-grow: 0;
    }
  
    .navbar-collapse-right {
      margin-left: 750px;
    }
  
    .footer-container {
      padding-top: 30px;
      padding-bottom: 20px;
      font-size: 12px;
      text-align: center;
    }
  
    .price-payment {
      border-bottom: 1px solid #cacbcc;
      font-size: 16px;
    }
  
    .paypal {
      padding-left: 20px;
      width: 20%;
    }
  
    .row {
      margin-left: 3px;
      margin-right: 3px;
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-collapse: separate;
    }
  
    .agree-service {
      font-size: 12px;
      line-height: 19px;
      margin-bottom: 8px;
    }
  
    .img-payment {
      width: 100%;
    }
    .bill .bill-label{
        font-size: 20px;
        font-weight: 600;
    }
    .bill .bill-price{
        font-size: 20px;
    }
    .bill .paypal{
        float:right;
        margin-right:72px;
    }
    .agree-service{
        padding-left: 15px;
        font-size: 15px;
    }
    #btnPay{
        margin-top: 10px;
        width: 100%;
    }
    
  </style>
  <div class="container-wrap">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
              <i class="fas fa-file-invoice-dollar"></i> Hóa đơn
          </h1>
          <form action="#" method="POST">
            <div class="row">
              <div class="col-sm-2">
                <img src="<%= course.poster %>" alt="" class="img-payment" />
              </div>
              <div class="col-sm-10">
                <strong
                  ><%= course.name %> 
                </strong>
              </div>
            </div>
  
            <div class="row bill">
              <div class="col-8 bill-label">Giá gốc:</div>
              <div class="col-4 text-right bill-price ">$1000.0</div>
            </div>
            <div class="row price-payment bill">
              <div class="col-8 bill-label">Giá giảm:</div>
              <div class="col-4 text-right bill-price">$990.0</div>
            </div>
            <div class="row" style="font-size: 20px">
              <div class="col-8"><strong>Tổng cộng:</strong></div>
              <div class="col-4 text-right"><strong>$10</strong></div>
            </div>
  
            <div class="row bill" style="padding-bottom: 10px">
              <div class="bill-label">Thanh toán với:<img
                  src="/public/paypal.png"
                  alt="PayPal Icon"
                  class="paypal"
                /></div>
              
            </div>
            <div class="agree-service">
              <input type="checkbox">
              Khi hoàn tất giao dịch, bạn đồng ý với các Điều khoản dịch vụ của
              chúng tôi.
            </div>
            <button id="btnPay" type="submit" class="btn btn-danger btn-block">
              Thanh toán
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <form id="myForm" action="/payment/<%= course.name %>/checkout" method="POST"></form>
  <script>
      $('#btnPay').on('click', ()=>{
          console.log('HELLO');
          $('#myForm').submit();
      });
  </script>